.progress-bar {
  position: relative;
  /* z-index: 2; */
  background-color: white;
  height: calc(2.25rem + 2px);
  width: 94%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 transparent;
}

.progress-bar-inner {
  display: block;
  height: 100%;
  /* width: 70%; */
  background-color: #0dcaf0;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  position: relative;
  animation: 10s infinite linear;
}

.change-password {
  margin-left: 10px;
}
